## Medicaid Data Cleaning

In [1]:
import numpy as np
import pandas as pd

In [2]:
# read in 2015 medicaid state drug utilization data
drugs15 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/State_Drug_Utilization_Data_2015.csv')
drugs15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null int64
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048385 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  632412 non-null float64
Number of Prescriptions           632412 non-null float64
Total Amount Reimbursed           632412 non-null float64
Medicaid Amount Reimbursed        632412 non-null float64
Non Medicaid Amount Reimbursed    632412 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          790702 non-null float64
Longitude                         790702 non-null float64
Location                          790702 non-null object
NDC                               1048575 non-null int64
dtypes: bool(1), float64(7), int64(6), object(6)
memory usage: 153.0+ MB

In [3]:
#identify the number of NaNs
drugs15.isnull().sum()

Utilization Type                       0
State                                  0
Labeler Code                           0
Product Code                           0
Package Size                           0
Year                                   0
Quarter                                0
Product Name                         190
Suppression Used                       0
Units Reimbursed                  416163
Number of Prescriptions           416163
Total Amount Reimbursed           416163
Medicaid Amount Reimbursed        416163
Non Medicaid Amount Reimbursed    416163
Quarter Begin                          0
Quarter Begin Date                     0
Latitude                          257873
Longitude                         257873
Location                          257873
NDC                                    0
dtype: int64

In [3]:
#replace NaNs with 0s
drugs15 = drugs15.replace(np.nan, 0)

In [6]:
drugs15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null int64
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048575 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  1048575 non-null float64
Number of Prescriptions           1048575 non-null float64
Total Amount Reimbursed           1048575 non-null float64
Medicaid Amount Reimbursed        1048575 non-null float64
Non Medicaid Amount Reimbursed    1048575 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          1048575 non-null float64
Longitude                         1048575 non-null float64
Location                          1048575 non-null object
NDC                               1048575 non-null int64
dtypes: bool(1), float64(7), int64(6), object(6)
memory usage: 153.0+ MB

In [4]:
#index to drop rows that have 0s in all the numeric variables
indexNames = drugs15[ (drugs15['Units Reimbursed'] == 0) & (drugs15['Number of Prescriptions'] == 0) 
                  & (drugs15['Total Amount Reimbursed'] == 0)& (drugs15['Medicaid Amount Reimbursed'] == 0)
                  & (drugs15['Non Medicaid Amount Reimbursed'] == 0)].index
drugs15.drop(indexNames , inplace=True)

In [5]:
drugs15.count()

Utilization Type                  632412
State                             632412
Labeler Code                      632412
Product Code                      632412
Package Size                      632412
Year                              632412
Quarter                           632412
Product Name                      632412
Suppression Used                  632412
Units Reimbursed                  632412
Number of Prescriptions           632412
Total Amount Reimbursed           632412
Medicaid Amount Reimbursed        632412
Non Medicaid Amount Reimbursed    632412
Quarter Begin                     632412
Quarter Begin Date                632412
Latitude                          632412
Longitude                         632412
Location                          632412
NDC                               632412
dtype: int64

In [24]:
drugs15.head()

,Utilization Type,State,Labeler Code,Product Code,Package Size,Year,Quarter,Product Name,Suppression Used,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Quarter Begin,Quarter Begin Date,Latitude,Longitude,Location,NDC
0,MCOU,XX,186,16,31,2015,2,ATACAND 16,False,491.0,26.0,1606.79,1596.15,10.64,1-Apr,4/1/2015 0:00,0.000,0.0000,0,186001631
3,FFSU,XX,299,3822,30,2015,4,ORACEA 40,False,2316.0,78.0,41657.07,33461.66,8195.41,1-Oct,10/1/2015 0:00,0.000,0.0000,0,299382230
7,FFSU,AK,472,82,16,2015,4,ACYCLOVIR,False,4459.0,22.0,2891.19,2891.19,0.00,1-Oct,10/1/2015 0:00,61.385,-152.2683,"(61.385, -152.2683)",472008216
8,MCOU,XX,378,211,5,2015,3,CHLORDIAZE,False,2902.0,43.0,3667.82,3652.82,15.00,1-Jul,7/1/2015 0:00,0.000,0.0000,0,378021105
10,FFSU,AK,781,5220,10,2015,3,ATENOLOL,False,6162.0,171.0,2796.59,2796.59,0.00,1-Jul,7/1/2015 0:00,61.385,-152.2683,"(61.385, -152.2683)",781522010

In [6]:
# read in 2016 medicaid state drug utilization data
drugs16 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/State_Drug_Utilization_Data_2016.csv')
drugs16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null int64
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048521 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  609356 non-null float64
Number of Prescriptions           609356 non-null float64
Total Amount Reimbursed           609356 non-null float64
Medicaid Amount Reimbursed        609356 non-null float64
Non Medicaid Amount Reimbursed    609356 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          893737 non-null float64
Longitude                         893737 non-null float64
Location                          893737 non-null object
NDC                               1048575 non-null int64
dtypes: bool(1), float64(7), int64(6), object(6)
memory usage: 153.0+ MB

In [27]:
#number of NaNs 
drugs16.isnull().sum()

Utilization Type                       0
State                                  0
Labeler Code                           0
Product Code                           0
Package Size                           0
Year                                   0
Quarter                                0
Product Name                          54
Suppression Used                       0
Units Reimbursed                  439219
Number of Prescriptions           439219
Total Amount Reimbursed           439219
Medicaid Amount Reimbursed        439219
Non Medicaid Amount Reimbursed    439219
Quarter Begin                          0
Quarter Begin Date                     0
Latitude                          154838
Longitude                         154838
Location                          154838
NDC                                    0
dtype: int64

In [7]:
# replace Nans with 0
drugs16 = drugs16.replace(np.nan, 0)

In [29]:
drugs16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null int64
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048575 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  1048575 non-null float64
Number of Prescriptions           1048575 non-null float64
Total Amount Reimbursed           1048575 non-null float64
Medicaid Amount Reimbursed        1048575 non-null float64
Non Medicaid Amount Reimbursed    1048575 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          1048575 non-null float64
Longitude                         1048575 non-null float64
Location                          1048575 non-null object
NDC                               1048575 non-null int64
dtypes: bool(1), float64(7), int64(6), object(6)
memory usage: 153.0+ MB

In [8]:
#index to drop rows that 0 for the numeric variables
indexNames = drugs16[ (drugs16['Units Reimbursed'] == 0) & (drugs16['Number of Prescriptions'] == 0) 
                  & (drugs16['Total Amount Reimbursed'] == 0)& (drugs16['Medicaid Amount Reimbursed'] == 0)
                  & (drugs16['Non Medicaid Amount Reimbursed'] == 0)].index
drugs16.drop(indexNames , inplace=True)

In [32]:
drugs16.count()

Utilization Type                  609356
State                             609356
Labeler Code                      609356
Product Code                      609356
Package Size                      609356
Year                              609356
Quarter                           609356
Product Name                      609356
Suppression Used                  609356
Units Reimbursed                  609356
Number of Prescriptions           609356
Total Amount Reimbursed           609356
Medicaid Amount Reimbursed        609356
Non Medicaid Amount Reimbursed    609356
Quarter Begin                     609356
Quarter Begin Date                609356
Latitude                          609356
Longitude                         609356
Location                          609356
NDC                               609356
dtype: int64

In [9]:
# read in 2017 medicaid state drug utilization data
drugs17 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/State_Drug_Utilization_Data_2017.csv')
drugs17.info()

C:\Users\Jennifer\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (4,19) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null object
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048551 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  673369 non-null float64
Number of Prescriptions           673369 non-null float64
Total Amount Reimbursed           673369 non-null float64
Medicaid Amount Reimbursed        673369 non-null float64
Non Medicaid Amount Reimbursed    673369 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          871016 non-null float64
Longitude                         871016 non-null float64
Location                          871016 non-null object
NDC                               1048575 non-null object
dtypes: bool(1), float64(7), int64(4), object(8)
memory usage: 153.0+ MB

In [34]:
drugs17.isnull().sum()

Utilization Type                       0
State                                  0
Labeler Code                           0
Product Code                           0
Package Size                           0
Year                                   0
Quarter                                0
Product Name                          24
Suppression Used                       0
Units Reimbursed                  375206
Number of Prescriptions           375206
Total Amount Reimbursed           375206
Medicaid Amount Reimbursed        375206
Non Medicaid Amount Reimbursed    375206
Quarter Begin                          0
Quarter Begin Date                     0
Latitude                          177559
Longitude                         177559
Location                          177559
NDC                                    0
dtype: int64

In [10]:
drugs17 = drugs17.replace(np.nan, 0)

In [36]:
drugs17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null object
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048575 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  1048575 non-null float64
Number of Prescriptions           1048575 non-null float64
Total Amount Reimbursed           1048575 non-null float64
Medicaid Amount Reimbursed        1048575 non-null float64
Non Medicaid Amount Reimbursed    1048575 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          1048575 non-null float64
Longitude                         1048575 non-null float64
Location                          1048575 non-null object
NDC                               1048575 non-null object
dtypes: bool(1), float64(7), int64(4), object(8)
memory usage: 153.0+ MB

In [11]:
#index to drop rows that 0 for the numeric variables
indexNames = drugs17[ (drugs17['Units Reimbursed'] == 0) & (drugs17['Number of Prescriptions'] == 0) 
                  & (drugs17['Total Amount Reimbursed'] == 0)& (drugs17['Medicaid Amount Reimbursed'] == 0)
                  & (drugs17['Non Medicaid Amount Reimbursed'] == 0)].index
drugs17.drop(indexNames , inplace=True)

In [39]:
drugs17.count()

Utilization Type                  673369
State                             673369
Labeler Code                      673369
Product Code                      673369
Package Size                      673369
Year                              673369
Quarter                           673369
Product Name                      673369
Suppression Used                  673369
Units Reimbursed                  673369
Number of Prescriptions           673369
Total Amount Reimbursed           673369
Medicaid Amount Reimbursed        673369
Non Medicaid Amount Reimbursed    673369
Quarter Begin                     673369
Quarter Begin Date                673369
Latitude                          673369
Longitude                         673369
Location                          673369
NDC                               673369
dtype: int64

In [40]:
# read in 2018 medicaid state drug utilization data
drugs18 = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/State_Drug_Utilization_Data_2018.csv')
drugs18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null int64
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048569 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  389059 non-null float64
Number of Prescriptions           389059 non-null float64
Total Amount Reimbursed           389059 non-null float64
Medicaid Amount Reimbursed        389059 non-null float64
Non Medicaid Amount Reimbursed    389059 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          975313 non-null float64
Longitude                         975313 non-null float64
Location                          975313 non-null object
NDC                               1048575 non-null int64
dtypes: bool(1), float64(7), int64(6), object(6)
memory usage: 153.0+ MB

In [41]:
drugs18.isnull().sum()

Utilization Type                       0
State                                  0
Labeler Code                           0
Product Code                           0
Package Size                           0
Year                                   0
Quarter                                0
Product Name                           6
Suppression Used                       0
Units Reimbursed                  659516
Number of Prescriptions           659516
Total Amount Reimbursed           659516
Medicaid Amount Reimbursed        659516
Non Medicaid Amount Reimbursed    659516
Quarter Begin                          0
Quarter Begin Date                     0
Latitude                           73262
Longitude                          73262
Location                           73262
NDC                                    0
dtype: int64

In [43]:
drugs18 = drugs18.replace(np.nan, 0)

In [44]:
drugs18.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  1048575 non-null object
State                             1048575 non-null object
Labeler Code                      1048575 non-null int64
Product Code                      1048575 non-null int64
Package Size                      1048575 non-null int64
Year                              1048575 non-null int64
Quarter                           1048575 non-null int64
Product Name                      1048575 non-null object
Suppression Used                  1048575 non-null bool
Units Reimbursed                  1048575 non-null float64
Number of Prescriptions           1048575 non-null float64
Total Amount Reimbursed           1048575 non-null float64
Medicaid Amount Reimbursed        1048575 non-null float64
Non Medicaid Amount Reimbursed    1048575 non-null float64
Quarter Begin                     1048575 non-null object
Quarter Begin Date                1048575 non-null object
Latitude                          1048575 non-null float64
Longitude                         1048575 non-null float64
Location                          1048575 non-null object
NDC                               1048575 non-null int64
dtypes: bool(1), float64(7), int64(6), object(6)
memory usage: 153.0+ MB

In [45]:
#index to drop rows that 0 for the numeric variables
indexNames = drugs18[ (drugs18['Units Reimbursed'] == 0) & (drugs18['Number of Prescriptions'] == 0) 
                  & (drugs18['Total Amount Reimbursed'] == 0)& (drugs18['Medicaid Amount Reimbursed'] == 0)
                  & (drugs18['Non Medicaid Amount Reimbursed'] == 0)].index
drugs18.drop(indexNames , inplace=True)

In [46]:
drugs18.count()

Utilization Type                  389059
State                             389059
Labeler Code                      389059
Product Code                      389059
Package Size                      389059
Year                              389059
Quarter                           389059
Product Name                      389059
Suppression Used                  389059
Units Reimbursed                  389059
Number of Prescriptions           389059
Total Amount Reimbursed           389059
Medicaid Amount Reimbursed        389059
Non Medicaid Amount Reimbursed    389059
Quarter Begin                     389059
Quarter Begin Date                389059
Latitude                          389059
Longitude                         389059
Location                          389059
NDC                               389059
dtype: int64

In [51]:
print('2015 : ' , drugs15.shape,'2016 : ' , drugs16.shape, '2017 : ' , drugs17.shape,'2018 : ' , drugs18.shape)
#2018 has significantly more missing values that were dropped, it will not be used for the analysis

2015 :  (632412, 20) 2016 :  (609356, 20) 2017 :  (673369, 20) 2018 :  (389059, 20)

In [12]:
# append 2015-2017 state drug utilization data
drugs = drugs15.append([drugs16, drugs17])

In [13]:
drugs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1915137 entries, 0 to 1048574
Data columns (total 20 columns):
Utilization Type                  object
State                             object
Labeler Code                      int64
Product Code                      int64
Package Size                      object
Year                              int64
Quarter                           int64
Product Name                      object
Suppression Used                  bool
Units Reimbursed                  float64
Number of Prescriptions           float64
Total Amount Reimbursed           float64
Medicaid Amount Reimbursed        float64
Non Medicaid Amount Reimbursed    float64
Quarter Begin                     object
Quarter Begin Date                object
Latitude                          float64
Longitude                         float64
Location                          object
NDC                               object
dtypes: bool(1), float64(7), int64(4), object(8)
memory usage: 294.1+ MB

In [14]:
drugs.shape

(1915137, 20)

In [16]:
drugs.isnull().sum()

Utilization Type                  0
State                             0
Labeler Code                      0
Product Code                      0
Package Size                      0
Year                              0
Quarter                           0
Product Name                      0
Suppression Used                  0
Units Reimbursed                  0
Number of Prescriptions           0
Total Amount Reimbursed           0
Medicaid Amount Reimbursed        0
Non Medicaid Amount Reimbursed    0
Quarter Begin                     0
Quarter Begin Date                0
Latitude                          0
Longitude                         0
Location                          0
NDC                               0
dtype: int64

In [17]:
# group by state and drug and get sums
drugs_grouped = drugs.groupby(['State', 'Year','Product Name','NDC'])['Units Reimbursed'].sum()
drugs_grouped = pd.DataFrame(data=drugs_grouped).reset_index()
drugs_grouped.head()

  State  Year Product Name          NDC  Units Reimbursed
0    AK  2015     ABACAVIR    378410591            3747.0
1    AK  2015     ABACAVIR  60505358306             182.0
2    AK  2015      ABILIFY  59148000613            9607.0
3    AK  2015      ABILIFY  59148000713           20185.0
4    AK  2015      ABILIFY  59148000813           18587.0

In [18]:
drugs_grouped['Number of Prescriptions'] = drugs.groupby(['State', 'Year','Product Name','NDC'])['Number of Prescriptions'].sum().ravel()
drugs_grouped['Total Amount Reimbursed'] = drugs.groupby(['State', 'Year','Product Name','NDC'])['Total Amount Reimbursed'].sum().ravel()
drugs_grouped['Medicaid Amount Reimbursed'] = drugs.groupby(['State', 'Year','Product Name','NDC'])['Medicaid Amount Reimbursed'].sum().ravel()
drugs_grouped['Non Medicaid Amount Reimbursed'] = drugs.groupby(['State', 'Year','Product Name','NDC'])['Non Medicaid Amount Reimbursed'].sum().ravel()

In [20]:
drugs_grouped.head()

,State,Year,Product Name,NDC,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
0,AK,2015,ABACAVIR,378410591,3747.0,94.0,15008.17,15008.17,0.00
1,AK,2015,ABACAVIR,60505358306,182.0,13.0,846.10,846.10,0.00
2,AK,2015,ABILIFY,59148000613,9607.0,370.0,260872.27,239237.90,21634.37
3,AK,2015,ABILIFY,59148000713,20185.0,984.0,555776.57,515848.46,39928.11
4,AK,2015,ABILIFY,59148000813,18587.0,874.0,513397.95,475261.41,38136.54

In [41]:
# conver the NDC type
drugs_grouped['NDC']=drugs_grouped['NDC'].astype('int64')

In [43]:
drugs_grouped.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 717397 entries, 0 to 717396
Data columns (total 9 columns):
State                             717397 non-null object
Year                              717397 non-null int64
Product Name                      717397 non-null object
NDC                               717397 non-null int64
Units Reimbursed                  717397 non-null float64
Number of Prescriptions           717397 non-null float64
Total Amount Reimbursed           717397 non-null float64
Medicaid Amount Reimbursed        717397 non-null float64
Non Medicaid Amount Reimbursed    717397 non-null float64
dtypes: float64(5), int64(2), object(2)
memory usage: 49.3+ MB

In [21]:
# read in drug info
druglist = pd.read_excel('https://practicum-mitre.s3.amazonaws.com/HEDIS-2019-NDC-MLD-Directory-Complete.xlsx',
                         'Medications List to NDC Codes')
druglist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66146 entries, 0 to 66145
Data columns (total 15 columns):
Medication List          66146 non-null object
NDC Code                 66146 non-null int64
Brand Name               66146 non-null object
Generic Product Name     66146 non-null object
Route                    66146 non-null object
Description              66146 non-null object
Drug ID                  66146 non-null object
Drug Name                2578 non-null object
Package Size             404 non-null float64
Unit                     2982 non-null object
Dose                     2578 non-null float64
Form                     250 non-null object
MED Conversion Factor    2328 non-null float64
Unnamed: 13              0 non-null float64
Unnamed: 14              1 non-null object
dtypes: float64(4), int64(1), object(10)
memory usage: 7.6+ MB

In [ ]:
# we can tell if a drug is an opioid if the MED (Morphine Equivalent Dose) is not nan
druglist['Medication List'].wheredruglist['Medication List']MED Conversion Factor >0.unique()

In [22]:
# new dataframe with only opioid drugs
opioiddrugs = druglist[druglist['MED Conversion Factor'].notnull()].copy()
opioiddrugs.head()

,Medication List,NDC Code,Brand Name,Generic Product Name,Route,Description,Drug ID,Drug Name,Package Size,Unit,Dose,Form,MED Conversion Factor,Unnamed: 13,Unnamed: 14
63818,UOD Opioid Medications,54309036,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,butorphanol,NaN,mg/ml,1.0,NaN,7.00,NaN,NaN
63819,UOD Opioid Medications,378963943,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,butorphanol,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63820,UOD Opioid Medications,54569598800,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,butorphanol,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63821,UOD Opioid Medications,60505081301,Butorphanol Tartrate,butorphanol 10 mg/mL nasal spray,nasal,UOD Opioid Medications,d00838,butorphanol,NaN,mg/ml,10.0,NaN,7.00,NaN,NaN
63822,UOD Opioid Medications,591264101,APAP/Butalbital/Caffeine/Codeine,acetaminophen/butalbital/caffeine/codeine 300 ...,oral,UOD Opioid Medications,d03425,codeine,NaN,mg,30.0,NaN,0.15,NaN,NaN

In [25]:
#create a dataframe of opioid drug information
opioiddrugs_reduced=pd.concat([opioiddrugs['Medication List'],opioiddrugs['NDC Code'],
opioiddrugs['Brand Name'],opioiddrugs['Drug Name'],opioiddrugs['MED Conversion Factor']], axis = 1)
opioiddrugs_reduced.head()

,Medication List,NDC Code,Brand Name,Drug Name,MED Conversion Factor
63818,UOD Opioid Medications,54309036,Butorphanol Tartrate,butorphanol,7.00
63819,UOD Opioid Medications,378963943,Butorphanol Tartrate,butorphanol,7.00
63820,UOD Opioid Medications,54569598800,Butorphanol Tartrate,butorphanol,7.00
63821,UOD Opioid Medications,60505081301,Butorphanol Tartrate,butorphanol,7.00
63822,UOD Opioid Medications,591264101,APAP/Butalbital/Caffeine/Codeine,codeine,0.15

In [46]:
drugs_grouped.sample(10)

,State,Year,Product Name,NDC,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed
23229,AL,2016,GABAPENTIN,228266650,3143.0,41.0,727.35,492.52,234.83
394513,NH,2015,LACTATED R,338011704,3548254.0,2582.0,32342.17,32342.17,0.00
20933,AL,2015,UROGESIC B,485015101,13773.0,499.0,43402.87,41468.20,1934.67
437669,NY,2016,NAPROXEN,68462018801,94866.0,2106.0,5506.50,5506.50,0.00
227480,LA,2016,IPRATROPIU,781715786,13795.0,118.0,1716.88,1598.00,118.88
644768,XX,2015,WARFARIN 7,31722033401,2624.0,89.0,773.54,764.24,9.30
234196,LA,2017,BETASERON,50419052435,336.0,24.0,154910.11,154910.11,0.00
51577,AR,2017,OLANZAPINE,65862056230,360.0,12.0,139.17,139.17,0.00
211587,KY,2017,BUPRENORPH,93572056,439.0,36.0,1686.64,1686.64,0.00
155024,GA,2017,LIDOCAINE,409206605,11.0,13.0,1.80,1.80,0.00

In [45]:
opioiddrugs_reduced.sample(10)

,Medication List,NDC Code,Brand Name,Drug Name,MED Conversion Factor
66089,UOD Opioid Medications,54569596703,TRAMADOL HYDROCHLORIDE,TRAMADOL,0.10
64404,UOD Opioid Medications,51862058701,LORCET HD,HYDROCODONE,1.00
64194,UOD Opioid Medications,378912216,FENTANYL,FENTANYL,7.20
66079,UOD Opioid Medications,54569543601,TRAMADOL HYDROCHLORIDE,TRAMADOL,0.10
66050,UOD Opioid Medications,52959041428,ULTRAM,TRAMADOL,0.10
64253,UOD Opioid Medications,406920830,FENTANYL CITRATE,FENTANYL,0.13
65570,UOD Opioid Medications,59011022520,OXYFAST,OXYCODONE,1.50
64629,UOD Opioid Medications,51862022801,ACETAMINOPHEN-HYDROCODONE BITARTRATE,HYDROCODONE,1.00
63898,UOD Opioid Medications,23490500405,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15
65792,UOD Opioid Medications,63481081760,OPANA ER,OXYMORPHONE,3.00

In [55]:
#left join the druglist group dataframe with the opioid drugs data frame using the NCD code. 
opioids_df = pd.merge(drugs_grouped, opioiddrugs_reduced, how='inner', left_on = 'NDC', right_on = 'NDC Code')
#any rows that are not joined by the opioiddrugs_reduced, isn't an opioid

In [56]:
opioids_df.isnull().sum()

State                             0
Year                              0
Product Name                      0
NDC                               0
Units Reimbursed                  0
Number of Prescriptions           0
Total Amount Reimbursed           0
Medicaid Amount Reimbursed        0
Non Medicaid Amount Reimbursed    0
Medication List                   0
NDC Code                          0
Brand Name                        0
Drug Name                         0
MED Conversion Factor             0
dtype: int64

In [57]:
opioids_df.sample(10)

,State,Year,Product Name,NDC,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Medication List,NDC Code,Brand Name,Drug Name,MED Conversion Factor
4025,OH,2017,HYDROCODON,13107002001,63138.0,833.0,12772.38,12766.18,6.20,UOD Opioid Medications,13107002001,ACETAMINOPHEN-HYDROCODONE BITARTRATE,HYDROCODONE,1.00
7691,AZ,2015,OXYCODONE,10702001801,2397112.0,31574.0,641062.42,637951.28,3111.14,UOD Opioid Medications,10702001801,OXYCODONE HYDROCHLORIDE,OXYCODONE,1.50
4366,AL,2017,Hydrocodon,53746011005,17173.0,287.0,5483.44,5109.14,374.30,UOD Opioid Medications,53746011005,ACETAMINOPHEN-HYDROCODONE BITARTRATE,HYDROCODONE,1.00
3731,TX,2015,HYDROCODON,603389128,3934.0,54.0,2203.65,2194.74,8.91,UOD Opioid Medications,603389128,ACETAMINOPHEN-HYDROCODONE BITARTRATE,HYDROCODONE,1.00
11014,WA,2017,TRAMADOL T,16714011112,1288.0,13.0,55.68,55.68,0.00,UOD Opioid Medications,16714011112,TRAMADOL HYDROCHLORIDE,TRAMADOL,0.10
6395,TX,2015,MORPHINE S,42858080401,10662.0,154.0,28298.71,28298.71,0.00,UOD Opioid Medications,42858080401,MORPHINE SULFATE ER,MORPHINE,1.00
10695,WA,2015,OxyContin,59011046010,758.0,17.0,9373.46,7451.62,1921.84,UOD Opioid Medications,59011046010,OXYCONTIN,OXYCODONE,1.50
2778,KY,2017,HYDROCODON,591260501,162909.0,2743.0,44968.02,44769.50,198.52,UOD Opioid Medications,591260501,ACETAMINOPHEN-HYDROCODONE BITARTRATE,HYDROCODONE,1.00
11683,VA,2017,ACETAMINOP,13107006001,4202.0,67.0,1418.30,1400.34,17.96,UOD Opioid Medications,13107006001,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15
3659,TX,2015,HYDROCODON,603389121,188140.0,2886.0,49593.58,49593.58,0.00,UOD Opioid Medications,603389121,ACETAMINOPHEN-HYDROCODONE BITARTRATE,HYDROCODONE,1.00

In [58]:
opioids_df=opioids_df.drop_duplicates()
opioids_df.shape

(22209, 14)

In [ ]:
opioids_df=opioids_df.drop(['NDC Code'], axis=1)
opioids_df.shape

In [66]:
# key created that will be used to join the population for each state
opioids_df['KEY']=opioids_df['Year'].map(str) + opioids_df['State'].map(str)
opioids_df['KEY'].head()

0    2015AK
1    2016AK
2    2017AK
3    2015AL
4    2016AL
Name: KEY, dtype: object

In [67]:
opioids_df.head()

,State,Year,Product Name,NDC,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Medication List,Brand Name,Drug Name,MED Conversion Factor,KEY
0,AK,2015,ACETAMINOP,93015001,10680.0,322.0,5087.66,5081.18,6.48,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AK
1,AK,2016,ACETAMINOP,93015001,6930.0,220.0,3731.15,3726.10,5.05,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2016AK
2,AK,2017,ACETAMINOP,93015001,3180.0,92.0,1721.17,1721.17,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2017AK
3,AL,2015,ACETAMINOP,93015001,28364.0,929.0,13239.92,12036.85,1203.07,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AL
4,AL,2016,ACETAMINOP,93015001,7494.0,250.0,3553.35,3258.49,294.86,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2016AL

In [177]:
opioids_df_key=opioids_df['KEY']

In [68]:
# include the state's populations in the datasets
statelist = pd.read_csv('https://practicum-mitre.s3.amazonaws.com/nst-est2018-alldata.edit.csv')
statelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
SUMLEV         517 non-null int64
REGION         517 non-null object
DIVISION       517 non-null object
STATE          517 non-null int64
NAME           517 non-null object
INITIAL        517 non-null object
YEAR           517 non-null int64
POPESTIMATE    517 non-null int64
NPOPCHG        517 non-null int64
BIRTHS         517 non-null int64
DEATHS         517 non-null int64
RBIRTH         517 non-null float64
RDEATH         517 non-null float64
dtypes: float64(2), int64(7), object(4)
memory usage: 52.6+ KB

In [69]:
statelist['YEAR']=statelist['YEAR'].astype('object')

In [70]:
statelist.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
SUMLEV         517 non-null int64
REGION         517 non-null object
DIVISION       517 non-null object
STATE          517 non-null int64
NAME           517 non-null object
INITIAL        517 non-null object
YEAR           517 non-null object
POPESTIMATE    517 non-null int64
NPOPCHG        517 non-null int64
BIRTHS         517 non-null int64
DEATHS         517 non-null int64
RBIRTH         517 non-null float64
RDEATH         517 non-null float64
dtypes: float64(2), int64(6), object(5)
memory usage: 52.6+ KB

In [71]:
in_statelist=statelist['INITIAL']
year=statelist['YEAR']
pop=statelist['POPESTIMATE']

In [72]:
in_statelist.head(5)

0    USA
1    NER
2    MWR
3     SR
4     WR
Name: INITIAL, dtype: object

In [73]:
statelist['INITIAL'].tail()

512    WV
513    WI
514    WY
515    PR
516    XX
Name: INITIAL, dtype: object

In [74]:
pop.head(5)

0    309326085
1     55380645
2     66974749
3    114867066
4     72103625
Name: POPESTIMATE, dtype: int64

In [75]:
year.head(5)

0    2010
1    2010
2    2010
3    2010
4    2010
Name: YEAR, dtype: object

In [76]:
statelist['KEY']=statelist['YEAR'].map(str) + statelist['INITIAL'].map(str)

In [77]:
pop_key=statelist['KEY']

In [78]:
statelist.tail()

,SUMLEV,REGION,DIVISION,STATE,NAME,INITIAL,YEAR,POPESTIMATE,NPOPCHG,BIRTHS,DEATHS,RBIRTH,RDEATH,KEY
512,40,3,5,54,West Virginia,WV,2018,1805832,-11216,18010,22551,9.942366,12.449212,2018WV
513,40,2,3,55,Wisconsin,WI,2018,5813568,21517,64939,50283,11.190958,8.665285,2018WI
514,40,4,8,56,Wyoming,WY,2018,577737,-1197,6840,4947,11.827045,8.553858,2018WY
515,40,X,X,72,Puerto Rico,PR,2018,3195153,-129848,24322,30771,7.460560,9.438734,2018PR
516,0,X,X,0,Others,XX,2018,0,0,0,0,0.000000,0.000000,2018XX

In [79]:
#create a dataframe of states and 2016 population
pop_bystate = pd.concat([pop_key, pop], axis = 1)
pop_bystate.head()

       KEY  POPESTIMATE
0  2010USA    309326085
1  2010NER     55380645
2  2010MWR     66974749
3   2010SR    114867066
4   2010WR     72103625

In [80]:
#left join the opioids dataframe with the created 2016 population dataframe
df_cd = pd.merge(opioids_df, pop_bystate, how='inner', left_on = 'KEY', right_on = 'KEY')

In [81]:
df_cd.shape

(22209, 15)

In [82]:
df_cd.nunique()

State                                52
Year                                  3
Product Name                        229
NDC                                1031
Units Reimbursed                  17319
Number of Prescriptions            5497
Total Amount Reimbursed           22095
Medicaid Amount Reimbursed        22090
Non Medicaid Amount Reimbursed    11604
Medication List                       1
Brand Name                           94
Drug Name                            17
MED Conversion Factor                15
KEY                                 151
POPESTIMATE                         149
dtype: int64

In [83]:
opioids_df.shape

(22209, 14)

In [84]:
opioids_df.nunique()

State                                52
Year                                  3
Product Name                        229
NDC                                1031
Units Reimbursed                  17319
Number of Prescriptions            5497
Total Amount Reimbursed           22095
Medicaid Amount Reimbursed        22090
Non Medicaid Amount Reimbursed    11604
Medication List                       1
Brand Name                           94
Drug Name                            17
MED Conversion Factor                15
KEY                                 151
dtype: int64

In [85]:
df_cd.head()

,State,Year,Product Name,NDC,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Medication List,Brand Name,Drug Name,MED Conversion Factor,KEY,POPESTIMATE
0,AK,2015,ACETAMINOP,93015001,10680.0,322.0,5087.66,5081.18,6.48,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AK,737547
1,AK,2015,ACETAMINOP,93015010,8728.0,338.0,5098.22,5096.84,1.38,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AK,737547
2,AK,2015,ACETAMINOP,93035001,3027.0,32.0,1186.37,1186.37,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AK,737547
3,AK,2015,ACETAMINOP,93035005,1217.0,12.0,463.85,463.85,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AK,737547
4,AK,2015,ACETAMINOP,121050416,11036.0,94.0,1371.65,1371.65,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,2015AK,737547

In [86]:
df_cd=df_cd.drop(['KEY'], axis=1)

In [87]:
df_cd.head()

,State,Year,Product Name,NDC,Units Reimbursed,Number of Prescriptions,Total Amount Reimbursed,Medicaid Amount Reimbursed,Non Medicaid Amount Reimbursed,Medication List,Brand Name,Drug Name,MED Conversion Factor,POPESTIMATE
0,AK,2015,ACETAMINOP,93015001,10680.0,322.0,5087.66,5081.18,6.48,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,737547
1,AK,2015,ACETAMINOP,93015010,8728.0,338.0,5098.22,5096.84,1.38,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,737547
2,AK,2015,ACETAMINOP,93035001,3027.0,32.0,1186.37,1186.37,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,737547
3,AK,2015,ACETAMINOP,93035005,1217.0,12.0,463.85,463.85,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,737547
4,AK,2015,ACETAMINOP,121050416,11036.0,94.0,1371.65,1371.65,0.00,UOD Opioid Medications,ACETAMINOPHEN-CODEINE PHOSPHATE,CODEINE,0.15,737547

In [ ]:
#convert to uppercase
opioiddrugs_reduced['Drug Name'] = opioiddrugs_reduced['Drug Name'].str.upper()
opioiddrugs_reduced['Brand Name'] = opioiddrugs_reduced['Brand Name'].str.upper()
opioiddrugs_reduced.head()

In [88]:
# saving new opioid dataframe to csv
df_cd.to_csv('_cleaned_medicaid_opioids_.csv')